<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kezong.demo.libaar" >

    <application>
        <provider
            android:authorities="${applicationId}.TestProvider"
            android:exported="false"
            android:name=".TestProvider"/>
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest>
