<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kezong.demo.libaar">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity
            android:name="com.kezong.demo.libaar.TestActivity"
            android:theme="@style/LibAarTheme" />
    </application>
</manifest>
